<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solo.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/assets/css/font-awesome.min.css">{% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/rrssb.css">
  <script src="{{ site.baseurl }}/assets/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <article>
   <div class="container">
    {% if site.repository %}
    <div class="sponsor-badge">
        <span class="sponsor-badge-text" style="margin-right: 0.2rem;">Supported by</span>
        <a href="https://weave.works"><img src="{{ site.baseurl }}/assets/images/weaveworks.svg" style="height: 1rem;margin-bottom: -0.1rem;"></a>
        <span class="sponsor-badge-text" style="margin-right: 0.2rem; margin-left: 0.2rem;">and built by</span>
        <a href="https://github.com/{{ site.repository }}/graphs/contributors"><img src="{{ site.baseurl }}/assets/images/gophers.png" style="height: 1.5rem;margin-bottom: -0.3rem;"></a>
        <span class="sponsor-badge-text" style="margin-right: 0.2rem; margin-left: 0.2rem;">on</span>
        <a href="https://github.com/{{ site.repository }}"><img src="{{ site.baseurl }}/assets/images/octocat.svg" style="height: 1rem;margin-bottom: -0.1rem;"></a>
    </div>
    <div id="github-buttons" style="text-align: right;">
      <a class="github-button" href="https://github.com/{{ site.repository }}/eksctl" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{ site.repository }} on GitHub">Star</a>
      <a class="github-button" href="https://github.com/{{ site.repository }}/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch {{ site.repository }} on GitHub">Watch</a>
      <a class="github-button" href="https://github.com/{{ site.repository }}/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork {{ site.repository }} on GitHub">Fork</a>
      <a class="github-button" href="https://github.com/{{ site.repository }}/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue {{ site.repository }} on GitHub">Issue</a>
    </div>
    <img src="{{ site.baseurl }}/assets/images/weaveworks.svg"></img>
    {% endif %}
    {{ content }}
    </div>
  </article>
<script src="{{ site.baseurl }}/assets/scripts/rrssb.min.js"></script>
<script src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
